body{
    margin:0px;
    padding: 0px;
}

h1{
    text-align: center;
    text-transform: uppercase;
}

form{
    text-align: center;
}

form label{
    margin: 10px;
    justify-content: center;
}

form input{
margin-left: 30px;
margin-top: 10px;
}